.recipe-list-container {
  width: min(100% - 2rem, 700px);
  margin-inline: auto;
  padding-block: 1rem;
}

.recipe-card {
  display: flex;
  gap: 1rem;
  align-items: center;
  width: 100%;
}

.recipe-image {
  display: block;
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: cover;
}

.form-control {
  width: 100%;
  box-sizing: border-box;
}
